# Godot
.import/
export.cfg
export_presets.cfg
*.gen.*
*.remap
monomac/
mono/
.mono/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.mdb

# OS
.DS_Store
Thumbs.db

# Build artifacts
/bin/
/bin64/
/.vs/